p{
	color: #FD8A8A;
	text-align: center;
	font-family: moonfront;
	font-size:20px;
	margin: 0 auto;
	top: 150px;
	padding-bottom:30px;
}

h1{color: #FFCBCB;
}

.tests{position: absolute; left:420px; margin-top: 60px;}

.sleep{position: absolute; left:420px; margin-top: 450px;}